# Ignore configuration files that may contain sensitive information.
docroot/sites/*/settings*.php
docroot/sites/*/services*.yml

# Ignore paths that contain user-generated content.
docroot/sites/*/files
docroot/sites/*/private

# Ignore SimpleTest multi-site environment.
docroot/sites/simpletest
# some sql dump file
*.sql
*.tgz
*.tar.gz

# dotenv file
.env

# backup files
*.original
*.backup